<trolado-tabs>
    <div class="trolado-tab">
        <div class="trolado-tab-label">
            Label 1
        </div>
        
        <div class="trolado-tab-content">
            conteudo 1
        </div>
    </div>

    <div class="trolado-tab">
        <div class="trolado-tab-label">
            Label 2
        </div>
        
        <div class="trolado-tab-content">
            conteudo 2
        </div>
    </div>

    <div class="trolado-tab">
            <div class="trolado-tab-label">
                Label 3
            </div>
            
            <div class="trolado-tab-content">
                conteudo 3
            </div>
        </div>
    
</trolado-tabs>