.trolado-tabs-header{
    display: flex;
    flex-direction: row;
}


.trolado-tabs-header div:hover{
    padding: 10px;
    background-color: #FAFAFA;
}

.trolado-tab-label{
    display: none;
}

.trolado-tab-label-item{
    padding: 10px;
    cursor: pointer;
}

.trolado-tab-label-item:hover{
    background-color: #FAFAFA;
}

.hidden{
    display: none;
}