<div class="trolado-tabs" (window:resize)="onResize($event)" (window:load)="onResize($event)">
    <div class="trolado-tabs-header" #headerContainer>

        <div class="trolado-tabs-arrow trolado-tabs-arrow-left" *ngIf="arrows" (click)="navigate('left')">
                <i class="fas fa-chevron-left"></i>
        </div>
        <div class="trolado-tabs-arrow trolado-tabs-arrow-right" *ngIf="arrows" (click)="navigate('right')">
                <i class="fas fa-chevron-right"></i>
        </div>
        
        <div class="trolado-tabs-header-wraper" #header>
            <div class="trolado-tabs-header-labels" >
                <div class="trolado-tab-label-item" *ngFor="let label of labels; let i = index" (click)="exibir(i,$event);">
                    <div id="clickArea" (click)="ripple($event, i)"></div>
                    <strong>{{ label }}</strong>
                </div>
            </div>
            <div class="trolado-tabs-indicator-container">
                <div class="trolado-tabs-indicator"></div>
            </div>
        </div>
    </div>
    <div class="trolado-tabs-content">
        <div class="trolado-tabs-wraper">
            <ng-content selector=".trolado-tab-content"></ng-content>
        </div>
    </div>
</div>
