<div class="trolado-tabs" (window:resize)="onResize($event)" (window:load)="onResize($event)">
    <div class="trolado-tabs-header" #headerContainer>

        <div class="trolado-tabs-arrow trolado-tabs-arrow-left" *ngIf="arrows" (click)="navigate('left')">
                <trolado-ripple></trolado-ripple>
                <i class="fas fa-chevron-left"></i>
        </div>
        <div class="trolado-tabs-arrow trolado-tabs-arrow-right" *ngIf="arrows" (click)="navigate('right')">
                <trolado-ripple></trolado-ripple>
                <i class="fas fa-chevron-right"></i>
        </div>
        
        <!--  LABELS -->
        <div class="trolado-tabs-header-wraper" #header>
            <div class="trolado-tabs-header-labels" >
                <div class="trolado-tab-label-item" *ngFor="let label of labels; let i = index">
                    
                    <trolado-ripple (click)="exibir(i,$event)"></trolado-ripple>
                    
                    <strong>{{ label }}</strong>

                    <ng-container *ngIf="minus">
                            <div class="minus-container" (click)="delete(i)">
                                <trolado-ripple></trolado-ripple>
                                <i class="fas fa-times"></i>
                            </div>
                    </ng-container>

                </div>

                <!--  Pluss Button -->
                <div class="trolado-tab-label-item" *ngIf="plus" (click)="criarTAB($event);">
                    <trolado-ripple></trolado-ripple>
                    <strong #plusLabel><i class="fas fa-plus"></i></strong>
                </div>

            </div>
            <div class="trolado-tabs-indicator-container">
                <div class="trolado-tabs-indicator"></div>
            </div>
        </div>
    </div>

    <!--  Conteudo -->

    <div class="trolado-tabs-content">
        <div class="trolado-tabs-wraper">
            <ng-content selector=".trolado-tab-content"></ng-content>
            <ng-container *ngIf="plus">
                <div class="plus-body hidden" #plusBody>
                    <h3>Novo Conteudo</h3>
                    <textarea name="new_content" id="nw_ct" rows="30"></textarea>

                    <div class="button-container">
                        <div class="button">
                            <button class="button-secondary"  (click)="abortTAB()">
                                <trolado-ripple></trolado-ripple>
                                Cacelar
                            </button>
                        </div>
                        <div class="button">
                            <button class="button-primary">
                                <trolado-ripple (click)="saveTAB()"></trolado-ripple>
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
