<div class="trolado-tabs" (window:resize)="onResize($event)" (window:load)="onResize($event)">
    <div class="trolado-tabs-header" #headerContainer>

        <div class="trolado-tabs-arrow trolado-tabs-arrow-left" *ngIf="arrows" (click)="navigate('left')" ripple>
                <i class="fas fa-chevron-left"></i>
        </div>
        <div class="trolado-tabs-arrow trolado-tabs-arrow-right" *ngIf="arrows" (click)="navigate('right')" ripple>
                <i class="fas fa-chevron-right"></i>
        </div>
        
        <!--  LABELS -->
        <div class="trolado-tabs-header-wraper" #header>
            <div class="trolado-tabs-header-labels" >
               


                <div class="trolado-tab-label-item" *ngFor="let label of labels; let i = index" #labelsin ripple (click)="exibir(i,labelsin,$event)">
                    
                    <strong>{{ label }}</strong>

                    <ng-container *ngIf="minus">
                            <div class="minus-container" (click)="delete(labelsin,i,$event)">
                                <i class="fas fa-times"></i>
                            </div>
                    </ng-container>
                    

                </div>


                 <!--  Pluss Button -->
                <div class="trolado-tab-label-item plus-label" *ngIf="plus" (click)="criarTAB(plusLabel);" #plusLabel ripple>
                    <strong>
                        <i class="fas fa-plus" *ngIf="!onPlus; else inputDiv"></i>
                        <ng-container *ngIf="onPlus">
                            <div class='label-input' (keypress)="inputKeypress($event, plusLabel)" contenteditable="true" #input>Title</div>
                        </ng-container>
                    </strong>
                </div>

                

            </div>
            <div class="trolado-tabs-indicator-container">
                <div class="trolado-tabs-indicator"></div>
            </div>
        </div>
    </div>

    <!--  Conteudo -->

    <div class="trolado-tabs-content">
        <div class="trolado-tabs-wraper">           
            <ng-container *ngIf="plus">
                <div class="plus-body hidden" #plusBody>
                    <h3>Novo Conteudo</h3>
                    <div contenteditable="true" class="textarea" (chage)="plusChange()" #textarea>
                        --Me Edite--
                    </div>
                    <div class="button-container">
                        <div class="button">
                            <button class="button-secondary"  (click)="abortTAB(textarea)" ripple>
                                Cacelar
                            </button>
                        </div>
                        <div class="button">
                            <button class="button-primary" (click)="saveTAB(plusLabel.nativeElement, textarea)" ripple>
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-content selector=".trolado-tab-content"></ng-content>
        </div>
    </div>
</div>
